extends layout.pug

block content
  main.introduction
    p This blog posting app was created to fullfil the requirements of web technologies. You can create, delete, update, and archive your posts.
    a(href="blogpost/create-blogpost" class="create-blogpost-btn") Create a blog

