* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.logo a {
  color: lightpink;
}

.nav-items {
  display: flex;
  list-style-type: none;
}

.nav-link {
  padding: 5px 10px;
  color: black;
}

.nav-link:hover,
.logo a:hover {
  background-color: lightslategray;
  padding: 20px 30px;
}

.introduction {
  max-width: 1200px;
  padding: 200px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 250;
}

.introduction p {
  font-size: 2rem;
  margin-bottom: 10px;
  border-style: dashed;
  border-color: lightskyblue;
  padding: 50px 30px;
  text-align: justify;
  color: black;
}

.create-blogpost-btn {
  padding: 15px 40px;
  background: lightsalmon;
  color: #fff;
  font-size: 1.1rem;
  border: 10px solid;
  margin-top: 20px;
  display: inline-block;
  align-items: center;
}

.create-blogpost {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid gray;
}

.create-blogpost h1 {
  margin-bottom: 30px;
  border-bottom: 1px solid lightpink;
}

.blogpost-input {
  width: 50%;
  display: block;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 1rem;
}

.all-blogpost {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightskyblue;
}

.blogpost {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
}

.blogpost > li {
  padding: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  color: black;
}

.blogpost > li:hover {
  background: #f8f8f8;
}

/* note detail page */
.blogpost-title,
.blogpost-body {
  font-family: Arial, Helvetica, sans-serif;
}

.blogpost-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.blogpost-body {
  font-size: 1.5rem;
}

/* utils */
.success,
.error {
  padding: 10px;
  font-size: 0.9rem;
  margin-bottom: 20px;
  display: inline-block;
}

.error {
  background: #ffeaea;
  border: 1px solid #660e0e;
  color: #660e0e;
}

.success {
  background: #cefdcc;
  border: 1px solid #0e661a;
  color: #0e661a;
}

.form-title {
  font-weight: 300;
  margin-bottom: 20px;
}

.label {
  display: inline-block;
  margin: 10px 0;
}

.empty {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.blogpost-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-blogpost {
  font-size: 0.8rem;
  background: tomato;
  color: #fff;
  padding: 5px 10px;
}

.archive-link {
  display: inline-block;
  margin: 0 20px;
  font-size: 0.9rem;
  font-weight: normal;
  color: tomato;
}

/*Footer*/

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

p {
  color: #fff;
  line-height: 1.6;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  line-height: 2;
}

a:hover {
  text-decoration: none;
  color: #ddd;
}

input:focus,
input:hover {
  outline: none;
}

footer {
  background-color: #3c6382;
  display: flex;
  width: 100%;
  text-transform: capitalize;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 80px;
}

.column {
  width: 25%;
  float: left;
  padding: 20px;
}

.bottom {
  background-color: #636e72;
  color: #fff;
}

.bottom p {
  margin: 0;
  line-height: 2.5;
  padding-left: 10px;
  text-transform: capitalize;
}

@media (max-width: 1024px) {
  footer {
    flex-wrap: wrap;
    text-align: center;
  }

  .column {
    width: 100%;
  }

  .bottom p {
    text-align: center;
  }
}
